*{
    box-sizing: border-box;
    font-family: Inter;
}

@font-face {
  font-family: 'fontello';
  src: url('../Fontello/font/fontello.eot?45722881');
  src: url('../Fontello//font/fontello.eot?45722881#iefix') format('embedded-opentype'),
       url('../Fontello//font/fontello.woff2?45722881') format('woff2'),
       url('../Fontello//font/fontello.woff?45722881') format('woff'),
       url('../Fontello//font/fontello.ttf?45722881') format('truetype'),
       url('../Fontello//font/fontello.svg?45722881#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

body
{
    background-color: #C9C9C9;
}

.all
{
    padding: none;
    margin: none;
    width: 100%;
    height: 800px;

}

.navbar {
    width: 100%;
    padding: 8px;
    height: 80px;
    background: linear-gradient(90deg, #07202F 14.58%, rgba(7, 32, 47, 0.49) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.logo {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 825;
    line-height: normal;
    margin-left: 40px;
}

.logo a {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 825;
  line-height: normal;
  text-decoration: none;
}

.wrapper-menu {
    margin-right: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 330ms ease-out;
    display: none;
}
  
.wrapper-menu.open {
    transform: rotate(-45deg);  
}

.line-menu {
    background-color: white;
    border-radius: 5px;
    width: 100%;
    height: 6px;
  }
  
  .line-menu.half {
    width: 50%;
  }
  
  .line-menu.start {
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
  }
  
  .open .line-menu.start {
    transform: rotate(-90deg) translateX(3px);
  }
  
  .line-menu.end {
    align-self: flex-end;
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
  }
  
  .open .line-menu.end {
    transform: rotate(-90deg) translateX(-3px);
  }



  .search {
    background-color: #D9D9D9;
    display: inline-block;
    width: 376px;
    height: 60px;
    margin-right: 40px;
    right: 40px;
  }
  
  .search input[type="text"] {
    display: flex;
    width: 270px;
    height: 44px;
    margin-top: 8px;
    margin-left: 20px;
    float: left;
    font-size: 22px;
  }
  
  .search input[type="submit"] {
    display: flex;
    width: 58px;
    height: 44px;
    margin-right: 4px;
    padding: 0;
    margin-bottom: 8px;
    margin-top: 8px;
    float: right;
    font-family: "fontello";
    font-size: 35px;
    background-color: #D9D9D9;
    border: none;
  }

  #search_result {
    position: absolute;
    top: 80px;
  
  }
  
  #search_result table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 2px solid black; /* Czarne obramowanie dla tabelki */
  }
  
  #search_result th, #search_result td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd; /* Czarne obramowanie dla komórek */
  }
  
  #search_result th {
    background-color: #ababab;
    font-weight: bolder;
  }
  
  #search_result tr {
    background-color: #f2f2f2;
  }
  
  #search_result tr:hover {
    background-color: #f5f5f5;
  }
  

.notificationIcon
{
    font-family: "fontello";
    font-size: 35px;
    font-style: normal;
}

.notificationButton, .userButton, .logOutButton {
    background-color: #D9D9D9;
    width: 60px;
    height: 60px;
    float: right;
    padding: 0px;
    margin-right: 20px;
    border: none;
}

.userButton a, .logOutButton a, .notificationButton a{
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
  color: black;
  transition: 0.2s;
}

.userButton a:hover i, .logOutButton a:hover i, .notificationButton a:hover i{
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
  color: #102836;
  font-size: 40px;
  transition: 0.2s;
}


.logOutIcon
{
    font-family: "fontello";
    font-size: 35px;
    font-style: normal;
    line-height: 60px;
    transition: 0.2s;
}

.userIcon
{
    font-family: "fontello";
    font-size: 35px;
    font-style:normal;
    line-height: 60px;
    transition: 0.2s;
}


.navbar-right {
  display: flex;
  align-items: center;
  float: right;
}








.content{
    background-color: white;
    width: 430px;
    min-height: 600px;
    margin: auto;
    margin-top: 100px;
    box-sizing: border-box;
    padding-top: 20px;
}

#user{
  width: 100%;
  height: 60px;
}

#user_icon{
  float: left;
  width: 60px;
  height: 60px;
  margin-left: 20px;
}
.triggerScriptLink {
  
  margin: auto;
}
#user_icon i{
  float: left;
  width: 60px;
  height: 60px;
  margin: auto;
  text-align: center;
}

#user_name{
    float: left;
    height: 60px;
    line-height: 60px;
    min-width: 100px;
    box-sizing: border-box;
    padding-left: 20px;
    font-size: 25px;
}

#user_name_powiadomienia{
  float: left;
  height: 100px;
  line-height: 100px;
  min-width: 100px;
  box-sizing: border-box;
  padding-left: 20px;
  font-size: 25px;
}

.kreska{
  width: 90%;
  height: 2px;
  background-color: #D9D9D9;
  margin: auto;
  margin-bottom: 10px;
}

.dot_place{
  float: left;
  width: 20px;
  height: 60px;
  line-height: 60px;
  margin-left: 10px;
  box-sizing: border-box;
  text-align: center;
}

.green_dot{
  color: green;
  font-size: 30px;
}

#search_chats{
  width: 80%;
  height: 40px;
  margin: auto;
  line-height: 40px;
  text-align: center;
  margin-top: 20px;
}

#input_search{
  width: 100%;
  height: 30px;
  padding: 5px 10px;
  box-sizing: border-box;
  border-color: #C9C9C9;
}

#chats{
  width: 95%;
  height: 385px;
  overflow-y: auto;
  margin: auto;
  margin-top: 20px;
}

#chats::-webkit-scrollbar{
  width: 0px;
}

.user_chat{
  width: 95%;
  height: 60px;
  margin: auto;
  box-sizing: border-box;
}

.user_icon{
  width: 10%;
  float: left;
}

.user_name{
  width: 80%;
  float: left;
  height: 20px;
  line-height: 20px;
  font-size: 18px;
  font-weight: bold;
  padding-left: 15px;
  margin-top: 12px;
}

.link{
  text-decoration: none;
  color: black;
}

.last_msg{
  width: 80%;
  height: 15px;
  float: left;
  line-height: 15px;
  font-size: 13px;
  padding-left: 25px;
}

.dot_place2{
  width: 8%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  display: inline-block;
}

.green_dot2{
  color: green;
  font-size: 30px;
  float: right;
}

.blue_dot2{
  color: blue;
  font-size: 30px;
  float: right;
}

.red_dot2{
  color: gray;
  font-size: 30px;
  float: right;
}

.userIcon2{
  font-size: 25px;
  line-height: 60px;
  width: 35px;
  height: 35px;
  font-family: "fontello";
  font-style: normal;
}

.msg_text2{
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
}

.notifi{
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  z-index: 10;
  margin-top: -45px;
  margin-left: -2px;
}

.chatIcon{
  font-family: "fontello";
  font-size: 35px;
  font-style: normal;
  line-height: 60px;
}




















.menu{
  width: 100%;
  height: 50px;
  border-bottom: 0.5px solid black;
}

.menuOpcja{
  float: left;
  width: 130px;
  height: 50px;
  font-size: 25px;
  margin-left: 20px;
  color: black;
  line-height: 50px;
  border-right : 0.5px solid black;
  box-sizing: border-box;
  text-align: center;
}

.menuText{
  float: left;
}

.menuCheck{
  float: right;
  line-height: 50px;
  width: 20px;
  height: 20px;
  margin-top: 15px;
  margin-right: 10px;
}

.hamburger-menu-expanded {
    height: 170px;
    width: 100%;
    display: none;
    background: linear-gradient(90deg, #07202F 14.58%, rgba(7, 32, 47, 0.49) 100%);
}

.hamburger_row {
    width: 100%;
    height: 80px;
    padding-top: 10px;
    box-sizing: border-box;
}

/* Media query for responsive design */
@media screen and (max-width: 1000px) {
  .hamburger-menu {
      display: flex;
  }
  .navbar-right {
      display: none;
  }
  .search {
      margin: 0px;
      margin-left: auto;
      margin-right: auto;
      display: block;
  }
  .notificationButton{
    margin-right: 45px;
  }
  .logOutButton{
    margin-right: 0px;
  }
  .userButton{
    margin-right: 45px;
  }
  #razem_button{
    width: 376px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 60px;
  }
  .wrapper-menu{
    display: flex;   
  }
  #nic{
      float: right;
      box-sizing: border-box;
      padding-top: 20px;
  }
}




